body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum","PT Sans", Arial, sans-serif;
  background-color: white;
}

.main-header {

  /*width: 1200px;
  height: 320px;*/
  background-color: #f4f7f9;
}

.top-menu__container {

  /*width: 1200px;
  height: 42px;*/
  background-color: #293449;
}

/*---logo---*/

.logo {
  /*width: 220px;
  height: 47px;*/
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  /*margin-left: 130px;*/
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.logo-image {
  /*width: 110px;
  height: 18px;*/
  margin: 13px 16px 55px 55px;

}

/*---search-form---*/

.search-form {
  /*
  width: 270px;
  height: 42px;*/
  background-color: #293449;
}

.search-form:hover {
  background-color: #212a3a;
}

.search-button {
  width: 17px;
  height: 17px;
  background-color: #293449;
  background-image: url("../img/icon-search.svg");
  border: none;
}

.search-button:hover {
  background-image: url("../img/icon-search-white.svg");
}

.search-button:active {
  background-image: url("../img/icon-search-red.svg");
}

/*---top-menu__link---*/

.top-menu__link {
  font-family: Cuprum;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: left;
  color: white;
  text-decoration: none;
  /*width: 150px;
  height: 42px;*/
}

.top-menu__link--bookmark {
  background-color: #293449;
}

.top-menu__link--bookmark:hover {
  background-color: #212a3a;
}

.top-menu__link--bookmark:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.top-menu__link--shopping-cart {
  background-color: #293449;
}

.top-menu__link--shopping-cart:hover {
  background-color: #212a3a;
}

.top-menu__link--shopping-cart:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.top-menu__link--shopping-cart-full {
  background-color: #ee3643;
}

.top-menu__link--order {
  background-color: #63a63e;
}

.top-menu__link--order:hover {
  background-color: #5fbb2d;
}

.top-menu__link--order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.header-container__text {
  width: 196px;
  height: 60px;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #ee3643;
}

/*---site-info---*/

.site-info__telephone {
  font-size: 21px;
  text-align: left;
  color: #ee3643;
  line-height: 1;
}

.site-info__adress {
  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #32425c;
}

/*---autorization-menu---*/

.autorization-menu__btn {
  background-color: white;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: black;
}

.autorization-menu__btn--login:hover {
  color: #ee3643;
}

.autorization-menu__btn--login:active {
  color: rgba(0, 0, 0, 0.3);
}

.autorization-menu__btn--registration:hover {
  color: #ee3643;
}

.autorization-menu__btn--registration:active {
  color: rgba(0, 0, 0, 0.3);
}

/*---user-menu---*/

.user-menu__btn--username {
  font-size: 21px;
  text-align: left;
  line-height: 21px;
  color: black;
  background-color: #f4f7f9;
  text-decoration: none;
}

.user-menu__btn--username:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-menu__btn--logout {
  color: #c5c5c5;
}

.user-menu__link {
  font-size: 16px;
  text-align: left;
  line-height: 18px;
  color: #32425c;
}

.user-menu__link:hover {
  color: #ee3643;
}

.user-menu__link:active {
  color: rgba(50, 66, 92, 0.3);
}

/*---page__container---*/

.page-title {
  background-color: #f2f6f8;
}

/*---filter---*/

.filter fieldset {
  border: none;
}

.filters legend {
  font-family: "PT Sans";
  font-size: 17px;
  text-align: left;
  line-height: 30px;
  color: black;
}

.filter-option label {
  font-family: "PT Sans";
  font-size: 15px;
  text-align: left;
  line-height: 20px;
  color: black;
  text-transform: uppercase;
}

.brands-filter-list,
.power-filter-list {
  list-style: none;
}

.filter-button {
  font-family: "PT Sans";
  font-size: 13px;
  text-align: center;
  line-height: 18px;
  color: black;
}

/*---catalog---*/

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: white;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.item-title {
  font-family: "PT Sans";
  font-size: 18px;
  text-align: center;
  line-height: 20px;
  color: black;
}

.item__old-price {
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #999999;
  text-decoration: line-through;
}

.item__price {
  font-family: "PT Sans";
  font-size: 17px;
  text-align: center;
  line-height: 18px;
  color: white;
  background-image: url("../img/btn-price.svg");
}

.item__btn--buy {
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.item__btn--buy:hover {
  background-color: #5fbb2d;
}

.item__btn--buy:active {
  background-color: #518534;
  box-shadow: none;
}

.item__btn--add-bookmark {
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  color: #32425c;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  box-shadow: inset 3px  3px #63a63e,
              inset -3px -3px #63a63e;

}

.item__btn--add-bookmark:hover {
  box-shadow: inset 3px  3px #32425c,
              inset -3px -3px #32425c;
}

.item__btn--add-bookmark:active {
  color: rgba(50, 66, 92, 0.3);
  box-shadow: inset 3px  3px #f1f5f7,
              inset -3px -3px #f1f5f7;
}



/*---site-navigation---*/

.site-navigation {
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
  list-style: none;
}

.site-navigation a {
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: white;
  text-decoration: none;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

/*---about-us---*/

.about-us__description h2 {
  font-size: 30px;
  text-align: left;
  text-transform: uppercase;
  line-height: 30px;
  color: black;
}

.about-us__description p {
  font-family: "PT Sans";
  font-size: 13px;
  text-align: left;
  line-height: 20px;
  color: black;
}

.about-us__transport-companies-list li {
  font-size: 18px;
  text-align: left;
  line-height: 20px;
  color: black;
  list-style: none;
}

.btn {
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  color: white;
  background-color: #ee3643;
  text-decoration: none;
}

/*---about-us__map---*/

.about-us__map h2 {
  font-size: 30px;
  text-align: left;
  text-transform: uppercase;
  line-height: 30px;
  color: black;
}

.about-us__map p {
  font-family: "PT Sans";
  font-size: 13px;
  text-align: left;
  line-height: 20px;
  color: black;
}

/*---footer---*/

/*---bottom-menu__container---*/

.bottom-menu__container {
  background-color: #32425c;
}

.bottom-menu__main-menu a {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  text-align: left;
  text-decoration: none;
}
.bottom-menu__main-menu a:hover {
  text-decoration: underline;
}

.bottom-menu__main-menu a:active {
  color: rgba(241, 245, 247, 0.5);
}

.bottom-menu__adress-and-telephone {
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #f3f7f9;
}

.bottom-menu__promo-menu {
  list-style: none;
}

.bottom-menu__promo-menu a {
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #ffd180;
text-decoration: none;
}

.bottom-menu__promo-menu a:hover {
  text-decoration: underline;
}

.bottom-menu__promo-menu a:active {
  color: rgba(255, 209, 128, 0.5);
}

/*---bottom-menu__copyright-container---*/

.bottom-menu__copyright-container {
  background-color: #293449;
}

.tehnomart-copyright {
  font-size: 16px;
  text-align: left;
  line-height: 18px;
  color: white;
}

.social__list {
  list-style: none;
}

.social__list a {
  text-decoration: none;
  color: white;
}

.feedback {
  font-size: 18px;
  text-align: left;
  line-height: 18px;
  color: white;
}

.feedback a {
  font: inherit;
  color: #ffd180;
  text-decoration: none;
}

.feedback a:hover {
  text-decoration: underline;
}

.feedback a:active {
  color: #ee3643;
}

.developer {
  font-size: 18px;
  text-align: left;
  line-height: 18px;
  color: white;
}

.developer a {
  font: inherit;
  color: #ffd180;
  text-decoration: none;
}

.developer a:hover {
  text-decoration: underline;
}

.developer a:active {
  color: #ee3643;
}
