body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum","PT Sans", Arial, sans-serif;
  background-color: white;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {

  /* width: 1200px; */
  background-color: #f4f7f9;
}

.top-menu__container {

  /*width: 1200px;
  height: 42px;*/
  background-color: #293449;
}

/*---logo---*/

.logo {
  /* width: 220px; */
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;

}
.logo-top {
  height: 47px;
  margin: 0px;
  position: absolute;
  /* left: 130px; */

}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.logo-image {
  /*width: 110px;
  height: 18px;*/
  padding-top: 13px;
  padding-right: 54px;
  padding-bottom: 16px;
  padding-left: 55px;


}

/*---search-form---*/

.search-form {
  margin-left: 220px;
}

.search-form__input {
  width: 270px;
  height: 42px;
  background-color: #293449;
  border: none;
  background: url("../img/icon-search.svg") no-repeat;
  padding-left: 49px;
  background-position: 17px center;
}

.search-form__input::-webkit-input-placeholder {
  color: white;
}

.search-form__input::-moz-placeholder {  /* Firefox 19+ */
  color: white;
}

.search-form__input:-moz-placeholder {  /* Firefox 18- */
  color: white;
}

.search-form__input:-ms-input-placeholder {
  color: white;
}

.search-form__input:hover {
  background-color: #212a3a;
  background-image: url("../img/icon-search-white.svg");
}

.search-form__input:active,
.search-form__input:focus {
  background-image: url("../img/icon-search-red.svg");
  background-color: white;
}

/*---top-menu__link---*/

.top-menu__link {
  font-family: Cuprum;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: white;
  text-decoration: none;
  width: 150px;
  white-space: nowrap;

}

.top-menu__link.top-menu__link--bookmark a {
  width: 150px
}

.top-menu__link--bookmark {

  font-size: 17px;
  line-height: 18px;
  text-align: left;
  background-color: #293449;
  background-image: url("../img/icon-bookmark.svg");
  background-position: 17px center;
  background-repeat: no-repeat;
  padding-top: 14px;
  padding-right: 28px;
  padding-bottom: 13px;
  padding-left: 44px;

}


.top-menu__link--bookmark:hover {
  background-color: #212a3a;
  background-image: url("../img/icon-bookmark-white.svg");
}

.top-menu__link--bookmark:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
  background-image: url("../img/icon-bookmark-grey.svg");
}

.top-menu__link--shopping-cart {
  background-color: #293449;
  padding-top: 14px;
  padding-right: 31px;
  padding-bottom: 13px;
  padding-left: 50px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 17px center;

}

.top-menu__link--shopping-cart:hover {
  background-color: #212a3a;
  background-image: url("../img/cart-icon-white.svg");
}

.top-menu__link--shopping-cart:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
  background-image: url("../img/cart-icon-grey.svg");
}

.top-menu__link--shopping-cart-full {
  background-color: #ee3643;
}

.top-menu__link--order {
  background-color: #63a63e;
  padding-top: 14px;
  padding-right: 22px;
  padding-bottom: 13px;
  padding-left: 20px;
  white-space: nowrap;

}

.top-menu__link--order:hover {
  background-color: #5fbb2d;
}

.top-menu__link--order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.header-container__text {
  width: 196px;
  height: 60px;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 23px;
  letter-spacing: normal;
  text-align: left;
  color: #ee3643;
}

/*---site-info---*/

.site-info__telephone {
  font-size: 21px;
  text-align: left;
  color: #ee3643;
  line-height: 21px;
}

.site-info__telephone-container {
  /* margin-top: 46px; */
}

.site-info__adress {
  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: center;
  color: #32425c;
  margin: 3px 0 0 9px;
  width: 270px;
}

/*---autorization-menu---*/

.autorization-menu__btn {
  background-color: white;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 21px;
  letter-spacing: normal;
  text-align: left;
  color: black;
  border: none;
}

.autorization-menu__btn--login:hover {
  background-image: url("../img/icon-login-navy.svg");
  color: #ee3643;
}

.autorization-menu__btn--login:active {
  color: rgba(0, 0, 0, 0.3);
}

.autorization-menu__btn--registration:hover {
  color: #ee3643;
}

.autorization-menu__btn--registration:active {
  color: rgba(0, 0, 0, 0.3);
}

/*---user-menu---*/

.user-menu {
  outline: 2px solid red;
}

.user-menu__list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  min-width: 290px;

}

.user-menu__list li:first-child {
  margin: 0px;
  padding-top: 12px;
  padding-bottom: 8px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  background-color: #fff;
}

.user-menu__list li:last-child {
  padding-left: 18px;
  margin-top: 10px;
  position: relative;
}

.user-menu__list li:last-child::before {
  content: "";
  position: absolute;
  left: 108px;
  top: 8px;
  width: 3px;
  height: 3px;
  background-color: #32425c;
  box-shadow: 0 0 2px 0;
}


.user-menu__bottom-links a {
  color: #32425c;
  padding-right: 32px;
  font-size: 16px;
  text-decoration: underline;
}

.user-menu__bottom-links a:hover {
  color: #ee3643;
}

.user-menu__bottom-links a:active {
  color: rgba(50, 66, 92, 0.3);
}

.username {
  font-family: "Cuprum", sans-serif;
  font-size: 21px;
  text-align: left;
  line-height: 21px;
  color: black;
  font-weight: normal;

  margin: 0 0 0 47px;
  width: 200px;
}

.username:active {
  opacity: 0.3;
}

.username::before {
  top: 12px;
  left: 13px;
  background-image: url("../img/icon-user.svg");
  position: absolute;
  width: 25px;
  height: 25px;
  opacity: 0.2;
  content: "";
  background-repeat: no-repeat;

}

.username:hover::before {
  opacity: 1;
}

.username:active::before {
  opacity: 0.2;
}



.user-logout::before {
  top: 13px;
  left: 268px;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 25px;
  height: 25px;
  opacity: 0.2;
  content: "";
}

.user-logout:hover::before {
  opacity: 1;
}

.user-logout:active::before {
  opacity: 0.2;
}


.username-link {
  text-decoration: none;
}

/*---page__container---*/


.page__container {
  width: 940px;
  margin: 0 auto;
}

.central-wrapper {
  display: flex;
}

/*---filter---*/

.filter fieldset {
  border: none;
}

.filters legend {
  font-family: "PT Sans";
  font-size: 17px;
  text-align: left;
  line-height: 30px;
  color: black;
}

.filter-option label {
  font-family: "PT Sans";
  font-size: 15px;
  text-align: left;
  line-height: 20px;
  color: black;
  text-transform: uppercase;
}

.brands-filter-list,
.power-filter-list {
  list-style: none;
}

.filter-button {
  font-family: "PT Sans";
  font-size: 13px;
  text-align: center;
  line-height: 18px;
  color: black;
}

.sort-filter {
  width: 700px;
  outline: 2px solid orange;
  background-color: #f7f3ec;
}


.sort-filter__selected {

  fill: #ee3643;
  border-bottom: none;
}



.sort-filter__list {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;

}

.sort-filter__list a:hover {
  color: black;
  border-bottom: 1px solid red;
}

.sort-filter__list a:active {
  color: #ee3643;
  border-bottom: none;
  fill: #ee3643;
}

.sort-filter__ascending:active,
.sort-filter__descending:active {
  fill: #ee3643;
}

.sort-filter__list:first-child {
  padding-top: 14px;
  padding-bottom: 15px;
  margin-left: 19px;
}

.sort-filter__list li:nth-child(2) {
  margin-right: 70px;
  margin-left: 140px;
  /* padding-top: 7px; */
}

.sort-filter__list li:nth-child(3) {
  margin-right: 65px;
}

.sort-filter__list li:nth-child(4) {
  margin-right: 47px;
}

.sort-filter__list li:nth-child(5) a {
  margin-right: 21px;
}

.sort-filter__list li:nth-child(5) a,
.sort-filter__list li:nth-child(6) a {
  border-bottom: none;
}

.sort-filter__list a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  text-align: left;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  display: inline-block;
}

.sort-filter__list p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  text-align: left;
  line-height: 18px;
  color: black;
  text-transform: uppercase;
  margin: 0px;

}

.sort-filter__list a {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  text-align: left;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border-bottom: 1px dotted red;
}
/*---catalog---*/

.catalog-list {
  list-style: none;
  width: 700px;
  margin: 20px auto;
  font-size: 0px;
  padding: 0px;
}

.catalog-wrapper {
  width: 700px;
  outline: 2px solid pink;
}

.catalog-item {
  font-size: 16px;
  background-color: white;
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;

  line-height: 20px;
  font-weight: bold;
  text-align: center;

  border: 1px solid #ccc;
}

.catalog-item:nth-child(3n) {
  margin-right: 0px;
}

.catalog-item .flag {
  position: absolute;
  top: -17px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.item-title {
  font-family: "PT Sans";
  font-size: 18px;
  text-align: center;
  line-height: 20px;
  color: black;
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.item__old-price {
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #999999;
  text-decoration: line-through;
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.item__price {
  font-family: "PT Sans";
  font-size: 17px;
  text-align: center;
  line-height: 18px;
  color: white;
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  background-color: #ee3643;
  border-radius: 3px;
  display: inline-block;
  margin: 13px 36px 21px 43px;
}

.item__price::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -18px;

  height: -8px;

  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 19px solid #ee3643;


}

.item-image-container {
  width: 218px;
  height: 170px;
}

.item-image-container img {
  max-width: 100%;
}



.item__buttons {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;

  width: 218px;
  height: 88px;
  padding: 40px 0px;

  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}
.catalog-item:hover .item__buttons {
  display: block;
}

.item__btn--buy:hover {
  background-color: #5fbb2d;
}

.item__btn--buy:active {
  background-color: #518534;
  box-shadow: none;
}

.item__btn--add-bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.item__btn--add-bookmark:hover {
  box-shadow: inset 3px  3px #32425c,
              inset -3px -3px #32425c;
}

.item__btn--add-bookmark:active {
  color: rgba(50, 66, 92, 0.3);
  box-shadow: inset 3px  3px #f1f5f7,
              inset -3px -3px #f1f5f7;
}

.item__btn--buy,
.item__btn--add-bookmark {
  display: block;
  width: 129px;
  margin: 0px auto;
  margin-bottom: 7px;
  padding: 7px 0px;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;


}

/*---site-navigation---*/

.site-navigation {
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
  list-style: none;
}

.main-navigation {
  padding: 0;
}

.site-navigation a {
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 17px;
  letter-spacing: normal;
  text-align: left;
  color: white;
  text-decoration: none;
  padding-top: 22px;
  padding-right: 31px;
  padding-bottom: 26px;
  padding-left: 31px;

}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}




.red-container {
  height: 1995px;
  background-color:  rgba(246, 36, 89, 0.5);
}


/*---page__container---*/

.page__container {
  outline: 2px solid yellow;
}

.breadcrumbs {
  outline: 2px solid red;
  display: flex;
  list-style: none;
  width: 380px;
  margin: 0px;
  position: relative;
  padding: 0px;

}

.breadcrumbs li:first-child a::before {
  /* content: "";
  position: absolute;
  left: 0px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat; */

  content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url(../img/icon-home.svg);
    background-repeat: no-repeat;

}

.breadcrumbs li:first-child {
  margin-right: 45px;
  position: relative;
}

.breadcrumbs li:nth-child(2) {
  margin-right: 40px;
  margin-left: 10px;
  position: relative;
}

.breadcrumbs li:nth-child(2) a::after {
  position: absolute;
  left: 64px;

  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-right: 2px solid #c5c5c5;
  border-bottom: 2px solid #c5c5c5;
  transform: rotate(-45deg);
}

.breadcrumbs li:nth-child(3) {
  position: relative;
  margin-right: 43px;
}

.breadcrumbs li:nth-child(3) a::after {
  position: absolute;
  left: 100px;

  content: "";
  position: absolute;

  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-right: 2px solid #c5c5c5;
  border-bottom: 2px solid #c5c5c5;
  transform: rotate(-45deg);
}

.breadcrumb-icon-home::after {
  position: absolute;
  left: 24px;

  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-right: 2px solid #c5c5c5;
  border-bottom: 2px solid #c5c5c5;
  transform: rotate(-45deg);
}


.breadcrumbs a {
  text-decoration: none;
  font-family: "PT sans", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-align: left;
  line-height: 18px;
  color: #000000;
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
}

.breadcrumbs-current {
  text-decoration: none;
  font-family: "PT sans", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-align: left;
  line-height: 18px;
  color: #000000;
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
}

.bradcrumb-icon-home {

}

/* .bradcrumb-icon-home::before {
  content: "";
  position: absolute;

  width: 14px;
  height: 12px;

  background-color: #ff0000;
} */


.page-title {
  color: #32425c;
  font-family: "Cuprum", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  width: 940px;
  display: inline-block;
  background-color: #f2f6f8;

  outline: 2px solid blue;

  margin: 0px;
  margin-bottom: 20px;

  padding: 32px 742px 34px 30px;

  box-sizing: border-box;
}

.filters {
  outline: 2px solid green;
  align-self: flex-start;

}

.filters legend {
  font-family: "PT sans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;


}

.filter {
  outline: 2px solid navy;
  width: 220px;
  margin-right: 20px;
}

.filter-top {
  outline: 2px solid blue;
  background-color: #f7f3ec;
  margin: 0px;
  margin-bottom: 20px;

}

.filter-top p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  text-align: left;
  line-height: 18px;
  color: #000000;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  padding: 14px 149px 15px 18px;
  margin: 0px;
  text-transform: uppercase;
}

 /* ---price-fieldset--- */

 .price-fieldset {
   padding: 0px;

   margin: 11px 0 0;
   /* border-bottom: 1px solid #ccc; */
 }

 /* --range-filter--- */


 .range {
   margin: 14px 0 0;
   width: 220px;
   background-color: #f7f3ec;
 }

 .range-filter {
   margin: 0px;
 }

 .range-filter__controls {
  position: relative;
  border-radius: 5px;
  background: #f7f3ec;
  padding: 39px 20px;
 }

 .range-controls__scale {
  height: 2px;
  background: #d7dcde;
 }

 .range-scale-band {
  margin-left: 0%;
  width: 80%;

  height: 2px;
  background: #00ca74;
 }

 .selector {
  width: 4px;
  height: 4px;
  position: absolute;
  top: 30px;
  left: 0;
  /* border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf; */
  cursor: pointer;
 }

 .selector-min {
   left: 20px;
 }

 .selector-max {
   left: 160px;
 }

.price-controls {
  margin: 8px 1px 0 0;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}

.price-controls input {
  line-height: 18px;
  text-align: center;
  color: black;
  border: none;
  outline: 0;
  border-radius: 5px;
  background-color: #f7f3ec;
  font-family: "PT Sans",sans-serif;
  font-size: 17px;
  line-height: 18px;
}

input[value="0"] {
  padding-left: 4px;
  width: 91px;
  height: 36px;
}

input[value="30000"] {
  width: 91px;
  height: 36px;
  padding-left: 1px;
}

.price-controls__line {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 1px;
  position: absolute;
  left: 105px;
  top: 20px;
  background-color: #000;
}

/* ---brands-fieldset--- */

.brands-fieldset {
  outline: 2px solid yellow;
  margin: 0;
  padding: 0;
  width: 220px;
  border-bottom: 1px solid #e5e5e5;
}

.brands-fieldset legend {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 13px;
}

.barnds-filter-list {
  outline: 2px solid red;
}

.power-fieldset {
  outline: 2px solid blue;
}

.power-filter-list {
  outline: 2px solid  green;
}


/*---about-us---*/

.about-us__description {
  width: 519px;
}

.about-us__description h2 {
  font-size: 30px;
  text-align: left;
  text-transform: uppercase;
  line-height: 30px;
  color: black;
  margin: 0px;
  margin-bottom: 35.5px;
}

.about-us__description p {
  font-family: "PT Sans";
  font-size: 13px;
  text-align: left;
  line-height: 20px;
  color: black;
  outline: 3px solid blue;
}

.men-shopping-paragraph {
  margin: 0px;
  margin-bottom: 30px;
  outline: 3px solid red;
}

.far-delivery-paragraph {
  margin: 0px;
  margin-bottom: 28.5px;
}

.about-us__transport-companies-list {
  margin: 0px;
  margin-bottom: 37px;
}

.about-us__transport-companies-list li {
  font-size: 18px;
  text-align: left;
  line-height: 20px;
  color: black;
  list-style: none;
}

.btn {
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  color: white;
  background-color: #ee3643;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.btn--companie-details {
  padding-top: 14px;
  padding-right: 40px;
  padding-bottom: 12px;
  padding-left: 41px;
  border-radius: 3px;
  margin-bottom: 86px;
}

/*---about-us__map---*/

.about-us__map {
  width: 300px;

}

.about-us__map h2 {
  font-size: 30px;
  text-align: left;
  text-transform: uppercase;
  line-height: 30px;
  color: black;
  margin: 0px;
  margin-bottom: 35.5px;
  padding-left: 120px;
}

.about-us__map p {
  font-family: "PT Sans";
  font-size: 13px;
  text-align: left;
  line-height: 20px;
  color: black;
  margin: 0px;
  margin-bottom: 36px;
  padding-left: 120px;
}

.about-us__map img {
  padding-left: 120px;
  margin-bottom: 40px;
}

.btn--write-us {
  padding-top: 14px;
  padding-right: 59px;
  padding-bottom: 12px;
  padding-left: 63px;
  margin-left: 120px;
  margin-bottom: 86px;
  white-space: nowrap;
}

/*---footer---*/

/*---bottom-menu__container---*/

.bottom-menu__container {
  background-color: #32425c;
}

.bottom-menu__main-menu {
  margin: 0px;
  margin-top: 42px;
  margin-bottom: 45px;
  list-style: none;
  padding-left: 0px;
}

.bottom-menu__main-menu a {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  text-align: left;
  text-decoration: none;

}
.bottom-menu__main-menu a:hover {
  text-decoration: underline;
}

.bottom-menu__main-menu a:active {
  color: rgba(241, 245, 247, 0.5);
}

.bottom-menu__adress-and-telephone {
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #f3f7f9;
}

.bottom-menu__promo-menu {
  list-style: none;
  margin: 0px;
  margin-bottom: 76px;
}

.bottom-menu__promo-menu a {
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #ffd180;
text-decoration: none;
}

.bottom-menu__promo-menu a:hover {
  text-decoration: underline;
}

.bottom-menu__promo-menu a:active {
  color: rgba(255, 209, 128, 0.5);
}

/*---bottom-menu__copyright-container---*/

.bottom-menu__copyright-container {
  background-color: #293449;
}

.tehnomart-copyright {
  font-size: 16px;
  text-align: left;
  line-height: 18px;
  color: white;
}

.social__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 131px;
  margin: 0 auto;
  padding: 0px;
}

.social__list li {
  padding-top: 35px;
  padding-bottom: 30px;
}

.social__list a {
  text-decoration: none;
  color: white;
}

.social__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
}

.social__btn:hover,
.social__btn:focus {
  background-color: #ee3643;
}

.feedback {
  font-size: 16px;
  text-align: left;
  line-height: 18px;
  color: white;
}

.feedback a {
  font: inherit;
  color: #ffd180;
  text-decoration: none;
}

.feedback a:hover {
  text-decoration: underline;
}

.feedback a:active {
  color: #ee3643;
}

.developer {
  font-size: 16px;
  text-align: left;
  line-height: 18px;
  color: white;
}

.developer a {
  font: inherit;
  color: #ffd180;
  text-decoration: none;
}

.developer a:hover {
  text-decoration: underline;
}

.developer a:active {
  color: #ee3643;
}

/*---Сетка---*/


/*---header---*/

.main-header {
  /* width: 1200px; */
  outline: 2px solid green;
  padding: 0 0 60px;
  margin: 0px auto;


}

/*---top-menu---*/

.top-menu-wrapper {
  display: flex;
  justify-content: space-between;
  /* margin-left: 350px;
  margin-right: 130px; */
  outline: 2px solid yellow;
  margin: 0 auto;
  width: 940px;

}

.top-menu__container {
  outline: 1px solid red;
  /* width: 1200px; */
  background-color: #293449;
  display: flex;
  position: relative;
}

.search-form__input {
  width: 270px;
}

.top-menu__link {
  width: 150px;
}

/*---header-container---*/

.header-container {
  width: 940px;
  outline: 3px solid blue;
  margin: 0 auto;
  margin-top: 46px;
  display: flex;
  justify-content: space-between;

}

.header-container__text {
  /* width: 196px; */
  outline: 1px solid red;
  /* padding-top: 49px;
  padding-right: 71px;
  padding-left: 53px;
  padding-bottom: 44px; */
  margin: 0px;
  padding-top: 2px;
  margin-left: 52px;
  width: 200px;
}

.site-info {
  /* width: 270px; */
  outline: 1px solid red;
  margin-left: 27px;
}

.site-info__telephone-container {
  display: inline-block;
  /* width: 270px; */
  box-shadow: inset -3px -3px 0 0 white,
              inset 3px 3px 0 0 white;
  /* margin-bottom: 10px; */
}

.site-info__telephone {
  display: inline-block;
  padding-top: 13px;
  padding-right: 52px;
  padding-bottom: 11px;
  padding-left: 74px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 15px center;
}

.autorization-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 281px;
  outline: 1px solid red;
}

.autorization-menu__btn--login {
  width: 121px;
  padding-top: 14px;
  padding-right: 27px;
  padding-bottom: 11px;
  padding-left: 48px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 14px center;
}

.autorization-menu__btn--registration {
  width: 150px;
  padding-top: 14px;
  padding-right: 25px;
  padding-bottom: 11px;
  padding-left: 25px;
}

.main-navigation {
  width: 940px;
  margin: 0px auto;
  background-color: #32425c;
  margin: 0 auto;
  margin-top: 46px;
}

.site-navigation {
  display: flex;
  margin:0px;
  justify-content: space-around;
  min-height: 60px;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation a {
  display: inline-block;
}

/*---about-us---*/

.about-us {
  display: flex;
  justify-content: space-around;
  outline: 2px solid purple;
  width: 940px;
}

.about-us__description {
  outline: 2px solid green;
  width: 519px;
  padding-top: 82px;

}

.about-us__map {
  outline: 2px solid blue;
  width: 300px;
  padding-top: 82px;
  padding-right: 130px;
  padding-bottom: 86px;
}

/*---bottom-menu---*/
.bottom-menu {
  background-color: #32425c;
}

.logo--bottom {
  display: inline-block;
  box-sizing: border-box;
  width: 220px;
  height: 68px;
  padding-top: 21px;
  padding-bottom: 26px;
  padding-right: 41px;
  padding-left: 41px;
  margin-bottom: 32px;
}

.bottom-menu__container {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  outline: 2px solid yellow;
}

.about-company-wrapper {
  outline: 2px solid red;
  width: 380px;

}

.bottom-menus-wrapper {
  outline: 2px solid green;
  display: flex;
  flex-direction: column;
  width: 570px;

}

.bottom-menu__main-menu {
  outline: 2px solid pink;
  display: flex;
  justify-content: space-between;
}

.bottom-menu__main-menu li {
  outline: 1px solid orange;
}

.bottom-menu__promo-menu {
  display: flex;
  justify-content: space-between;
  outline: 2px solid blue;
}

.bottom-menu__copyright-container {
  outline: 2px solid pink;
  padding: 0px;
}

.bottom-menu__copyright-wrapper {
  outline: 2px solid red;
  width: 940px;
  margin: 0 auto;
  display: flex;
  padding: 0px;
}

.tehnomart-copyright {
  outline: 2px solid blue;
  width: 227px;
  padding-top: 39px;
  padding-bottom: 35px;
  margin: 0px;
  margin-right: 162px;
  white-space: nowrap;
}

.social {
  outline: 2px solid purple;
}

.feedback {
  outline: 2px solid green;
  padding-top: 40px;
  padding-bottom: 35px;
  margin: 0px;
  margin-left: 119px;
  margin-right: 53px;

}

.developer {
  outline: 2px solid grey;
  padding-bottom: 34px;
  padding-top: 39px;
  margin: 0;
}
